<% title "Jobs" %>
<h2>Jobs</h2>
<p>
  This is a listing of my professional experience.
</p>
<table>
  <tr>
    <th>Title</th>
    <th>Company</th>
    <th>Period</th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
    <td><%= link_to job.title, job %></td>
    <td><%= link_to job.place.title, job.place %></td>
    <td><%= job.period %> (<%= job.period_length %>)</td>
  </tr>
  <% end %>
</table>
