<% title "Jobs" %>
<h2>Jobs</h2>
<p>
  This is a listing of my <strong>experience</strong>.
</p>
<table>
  <tr>
    <th>Title</th>
    <th>Company</th>
    <th>Period</th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
    <td><%= link_to job.title, job %></td>
    <td><%= link_to job.place.title, job.place %></td>
    <td><%= job.period %> (<%= distance_of_time_in_words(job.ended_at.blank? ? DateTime.now : job.ended_at, job.started_at.prev_month) %>)</td>
  </tr>
  <% end %>
</table>
