<% title @page.title %>
<h2><%= @page.title %></h2>
<p class="content">
  <%= raw(@page.content) %>
</p>
<p class="date">
  <strong>Last Updated At:</strong>
  <%= @page.last_updated_at %>
</p>
<%= raw(disqus_thread) %>
 