<% title @page.title %>
<p>
  <b>Title:</b>
  <%= @page.title %>
</p>
<p>
  <b>Last Updated At:</b>
  <%= @page.last_updated_at %>
</p>
<p>
  <b>Content:</b>
  <%= raw(@page.content) %>
</p>
<%= raw(disqus_thread) %>
