/*
 *= require_self
*/

$highlight-color: #009999;
$background-color: #373737;
$dark-background-color: darken($background-color, 10%);
$light-background-color: lighten($background-color, 10%);
$sharp-border: 2px solid #000;
$logo-padding: 145px;

@mixin text-shadow {
  text-shadow: 1px 1px 2px #000;
  filter: dropshadow(color=#000, offx=1, offy=1);
}

@mixin box-shadow {
  -webkit-box-shadow: 0px 0px 50px 0px #000;
  -moz-box-shadow: 0px 0px 50px 0px #000;
  box-shadow: 0px 0px 50px 0px #000;
}

@import "layout.css.scss";

#notice, #error, #alert {
  padding: 5px 8px;
}

#notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#error, #alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

pre {
  background-color: $dark-background-color;
  font-size: 11px;
  padding: 15px;
}

html, body {
  @include box-shadow;
  background-color: $light-background-color;
  color: #bbb;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  @include text-shadow;
  color: $highlight-color;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}

header {
  #heading {
    text-align: center;
    background-image: linear-gradient(bottom, darken($highlight-color, 20%) 0%, $highlight-color 100%);
    background-image: -o-linear-gradient(bottom, darken($highlight-color, 20%) 0%, $highlight-color 100%);
    background-image: -moz-linear-gradient(bottom, darken($highlight-color, 20%) 0%, $highlight-color 100%);
    background-image: -webkit-linear-gradient(bottom, darken($highlight-color, 20%) 0%, $highlight-color 100%);
    background-image: -ms-linear-gradient(bottom, darken($highlight-color, 20%) 0%, $highlight-color 100%);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, darken($highlight-color, 20%)),
      color-stop(1, $highlight-color)
    );
    img {
      @include box-shadow;
      position: relative;
      margin-left: 145-$width;
      bottom: 105px;
      border: 2px solid #000;
    }
    h1 {
      @include text-shadow;
      color: #fff;
      padding: 45px 0 25px;
      a {
        @include text-shadow;
        color: #fff;
        text-decoration: none;
        &:visited {
          @include text-shadow;
          color: #fff;
          text-decoration: none;
        }
        &:hover {
          @include text-shadow;
          color: #fff;
          text-decoration: none;
        }
      }
    }
    em {
      @include text-shadow;
      font-size: 17px;
    }
  }
  #header-nav {
    background-color: $dark-background-color;
    border-top: $sharp-border;
    border-bottom: $sharp-border;
    font-size: 17px;
    padding-top: 4px;
    padding-bottom: 4px;
    li {
      padding: 5px 25px 5px;
    }
  }
}

nav {
  margin: 0;
  padding: 0 25px 0;
}

ul, li {
  padding: 0;
  margin: 0;
}

footer {
  padding: 18px 0 0;
  margin: 0;
  font-size: 13px;
  background-color: $dark-background-color;
  border-top: $sharp-border;
  #footer-nav {
    text-align: center;
    ul {
      padding-top: 25px;
    }
  }
  #copyright-notes {
    text-align: center;
  }
  #social {
    padding: 0 25px 0;
  }
  p {
    font-size: 13px;
  }
}

section#content {
  background-color: $background-color;
  padding-top: 25px;
  padding-bottom: 25px;
  h1, h2, h3 {
    @include text-shadow;
    color: #fff;
    padding-bottom: 10px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 15px;
  }
  #disqus_thread {
    padding-top: 50px;
  }
}

table {
  @include box-shadow;
  background-color: $light-background-color;
  border: 2px solid #000;
  padding-bottom: 20px;
  border-collapse: collapse;
  color: #fff;
  th {
    @include text-shadow;
  }
  td, th {
    padding: 0px 15px;
    border: 1px solid #000;
  }
}

@import "pages.css.scss";
@import "jobs.css.scss";
@import "places.css.scss";
