#notice, #error, #alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#error, #alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

@import "layout.css.scss";
@import "pages.css.scss";
