@import "layout.css.scss";

#notice, #error, #alert {
  padding: 5px 8px;
}

#notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#error, #alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

pre {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  background-color: #eee;
  font-size: 11px;
}

a {
  color: #009999;
  text-shadow: 2px 2px 2px #000;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}

html, body {
  background-color: #373737;
  color: #999;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  box-shadow: 0 0 100px #000;
  line-height: 18px;
  border-left: 1px solid #000;
  border-right: 2px solid #000;
}

header {
  text-align: center;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(0,0,0)),
    color-stop(1, rgb(0,99,99))
  );
  border-bottom: 2px solid #000;
  em {
    text-shadow: 2px 2px 2px #000;
  }
}

nav {
  margin: 0;
  padding: 0 25px 0;
}

ul, li {
  padding: 0;
  margin: 0;
}

footer {
  padding: 18px auto 0;
  font-size: 13px;
  p {
    font-size: 13px;
  }
  background: #000;
  border-top: 2px solid #000;
}

#footer-nav {
  text-align: center;
  ul {
    padding-top: 25px;
  }
}

#header-nav {
  font-size: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #222222;
  border-bottom: 2px solid #000;
  li {
    padding: 5px 25px 5px;
  }
}

h1, h2, h3 {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

h1 {
  padding: 45px 0 25px;
  text-shadow: 2px 2px 2px #000;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 17px;
}

p {
  font-size: 15px;
}

#copyright-notes {
  text-align: center;
}

#social {
  padding: 0 25px 0;
}

section {
  padding-top: 25px;
}

#disqus_thread {
  padding-top: 50px;
}

@import "pages.css.scss";
