body {
	background:#403834;
	font-family:sans-serif;
}
#container {
	border:10px solid #452B33;
	width:720px;
	margin-left:auto;
	margin-right:auto;
	background:#A6B5A1;
}
header {
	padding:20px;
	background:#693B3E;
	border-bottom:10px solid #452B33;
}
/* Navigation */
nav {
	padding:0;
	white-space:nowrap;
}
nav ul {
	margin:0;
	padding:0;
}
nav ul li {
	list-style-type:none;
	display:inline-block;
	padding:0;
}
nav ul li a {
	padding:0;
	font-weight:bold;
}
footer {
}

/* Gravatar */
img.gravatar {
	border:1px solid #999;
}
li img.gravatar {
	margin-bottom:-12px;
}

/* Flash */
.error, .alert, .notice, .success, .info {
  padding: 10px;
  margin: 2px 0 0;
  border:2px solid #ddd;
}
.error, .alert {
  background:#fbe3e4;
  color:#8a1f11;
  border-color:#fbc2c4;
}
.notice {
  background:#fff6bf;
  color:#514721;
  border-color:#ffd324;
}
.success {
  background:#e6efc2;
  color:#264409;
  border-color:#c6d880;
}
.info {
  background:#d5edf8;
  color:#205791;
  border-color:#92cae4;
}
.error a, .alert a {
  color:#8a1f11;
}
.notice a {
  color:#514721;
}
.success a {
  color:#264409;
}
.info a {
  color:#205791;
}
