html, body {
  margin: 0 auto 0;
  padding: 0;
  height: 100%;
  width: 720px;
}

header {
  margin: 0;
  padding: 0;
  height: 150px;
}
    
nav {
  ul {
    li {
      list-style-type: none;
      display: inline-block;
    }
  }
}

section {
  margin: 0;
  padding: 0 25px 0;
}

footer {
  height: 180px;
  position: absolute;
  width: 720px;
  bottom: 0;
}

pre {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  background-color: #eee;
  font-size: 11px;
}

h1, h2, h3 {
  margin: 0;
}

#like-button, iframe#facebook_like {
  height: 80px;
}
