// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.date {
  font-style: italic;
  font-size: 13px;
  padding-top: 25px;
}

p.content {
  font-size: 15px;
}
