<% title "Places" %>
<h2>Places</h2>
<p>
  This is a listing of all the places I've experienced through jobs or education.
</p>
<table>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Website</th>
  </tr>
  <% @places.each do |place| %>
  <tr>
    <td><%= link_to place.title, place %></td>
    <td><%= place.location %></td>
    <td><%= place.website %></td>
  </tr>
  <% end %>
</table>
