<header>
  <h1>Freddie Pettersson</h1>
  <p>
    <em>Coffee, code, licorice and punkrawk!</em>
  </p>
</header>
<nav id="header-nav">
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "Contact", contact_path %>
    </li>
    <li>
      <%= link_to "Bio", bio_path %>
    </li>
  </ul>
</nav>
